img {
  border-radius: 100px;
}
hr {
  height: 1px;
  background-color: black;
}
table {
  border-collapse: collapse;
  height: 250px;
  width: 40%;
  text-align: center;
  margin-bottom: 50px;
}
.table_class table {
  border-collapse: collapse;
  height: 250px;
  width: 100%;
  text-align: left;
}
.table_class td {
  padding-left: 10px;
}
.table_class th {
  text-align: center;
}
